body{
    background-color: rgb(62, 62, 62);
    margin-right: 15px;
    margin-left: 15px;
    color: white;
}

.d-inline{
    display: inline;
    background-color: rgb(47, 46, 46);
    border-radius: 5px;
    margin-inline-start: 5px;
}

.d-block{
    display: block;
    background-color: rgb(47, 46, 46);
    margin-bottom: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.row{
    justify-content: space-around;
    background-color: rgb(47, 46, 46);
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
